import styles from "./.module.css";
import PageTemplate from "../../../globals/components/PageTemplate";

export default function () {
  return (
    <PageTemplate title={""}>
      <div>Nova página</div>
    </PageTemplate>
  );
}
