.menu {
    height: 100%;
    width: 55px;
    background: linear-gradient(45deg, var(--primary-color), #ff5100);
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
    /* grid-area: menu; */
    position: fixed;
    top: 0;
    bottom: 0;
    transition: width 0.25s ease-in-out;
    overflow: hidden;
    z-index: 2;
}

.link, .logOut{
    /* position: relative; */
    text-decoration: none;
    align-items: center;
    margin-left: 10px;
    margin-top: 30px;
    transition: all 0.1s ease;
    cursor: pointer;
    border: none;
}

.link:hover, .logOut:hover {
    filter: brightness(80%);
}


.span {
    position: absolute;
    margin: 10px;
    margin-left: 18px;
    color: white;
    font-size: 14px;
}


.abas {
    margin-top: 100px;
    height: 100%;
}

.menu:hover{
    width: 150px;
    transition: all 0.25s ease-in-out;
}
