.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
    margin: 0;
    border: solid 1px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 4px 4px 7px -5px rgba(0, 0, 0, 0.56);
    width: 300px;
    background-color: white;
  }
  
  .sectionTitle {
    font-size: 23px;
    font-weight: 400;
  }

  .pic {
    max-height: 176px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .pic img {
    flex-shrink: 0;
    min-height: 100%;
    min-width: 100%;
  }

  .section {
    padding: 10px 30px;
    height: 124px;
    padding-top: 10px;
  }
  
  .sectionDescription {
    margin-top: 15px;
    line-height: 1.5;
    font-size: 15px;
    color: #585858;
    font-weight: 400;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 200px !important;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
 