.cardHospede {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
    margin: 0;
    padding-left: 30px;
    gap: 5px;
    border: solid 1px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: var(--shadow);
    width: 300px;
    background-color: white;
  }

  .card div {
    padding-top: 6px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 6px;
  }

  .sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: white;
    position: absolute;
  }
  
  .modal.open {
    opacity: 1;
  }