.modal {
  display: flex;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.inModal{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}

.footer {
  border: 1px solid red;
  justify-self: flex-end;
  margin-top: 90px;
}