.modal {
  display: flex;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

footer {
  top: 0%;
  right: 0%;
}