.page {
    background-color: var(--secondary-color);
    padding-bottom: 56px;
    height: 100%;
    width: 100%;
}

.bar {
    background-color: white;
    width: 100%;
    padding-left: 160px;
    height: 113px;
    display: flex;
}

.title {
    font-size: 40px;
    display: flex;
    place-items: center;
}

.children {
    padding-left: 160px;
    margin-top: 56px;
    padding-bottom: 56px;
}

.children-enter {
    opacity: 0;
    transform: translateX(100%);
    }
    
    .children-enter-active {
      opacity: 1;
      transform: translateX(0%);
      transition: opacity 1000ms, transform 1000ms;
    }
    
    .children-exit {
      opacity: 1;
      transform: translateX(0%);
    }
    
    .children-exit-active {
      opacity: 0;
      transform: translateX(-100%);
      transition: opacity 1000ms, transform 1000ms;
    }
